<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Cost</th>
			<th>Price</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in controller.getItems()">
			<td>{{item.name}}</td>
			<td>{{item.cost}}</td>
			<td>{{item.price}}</td>
			<td>{{item.description}}</td>
			<td><a href="{{controller.getEditUrl(item)}}">Edit</a> - <a ng-click="controller.remove(item)">Delete</a></td>
		</tr>
	</tbody>
</table>

<a href="/#/{{controller.type}}/new">New</a>