<div class="panel panel-default">
	<div class="panel-heading">Products Form</div>
	<div class="panel-body">
		<form ng-submit="controller.save()" validate>
			<div class="form-group">
				<label for="name">Name</label> <input
					ng-model="controller.item.name" type="text"
					class="form-control" id="name" placeholder="Name" required>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<label for="cost">Cost</label> <input
							ng-model="controller.item.cost" type="number" step="0.01"
							class="form-control" id="cost" placeholder="Cost" required>
					</div>
					<div class="col-md-6">
						<label for="price">Price</label> <input
							ng-model="controller.item.price" type="number" step="0.01"
							class="form-control" id="price" placeholder="Price" required>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="description">Description</label>
				<textarea rows="8" ng-model="controller.item.description"
					type="text" class="form-control" id="description" placeholder="Description" />
			</div>
			<button type="submit" ng-disabled="!controller.item"
				data-loading-text="Loading..." autocomplete="off"
				class="btn btn-default">Submit</button>
			<a href="/#/{{controller.type}}" type="submit">Cancel</a>
		</form>
	</div>
</div>
